body {
  font-family: 'Vipps', Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  height: 14vh;
}

main {
  flex: 1 0 auto;
}

footer {
  display: flex;
  height: 25vh;
}

.height100vh {
  height: 100vh;
}

.height70vh {
  height: 70vh;
}

.height50vh {
  height: 50vh;
}

.vippsorange {
  color: #FF5B24 !important;
}

.lightvippsorange {
  color: #FDF4ED !important;

}

.vippspurple {
  color: #4D3280 !important;

}

.vippsblue {
  color: #59CBE8 !important;

}

.vippsblack {
  color: #161225 !important;
}

.vippsblueberry {
  color: #49367E !important;
}

.vippsorange-background {
  background-color: #FF5B24 !important;
}

.lightvippsorange-background {
  background-color: #FDF4ED !important;

}

.vippspurple-background {
  background-color: #4D3280 !important;

}

.vippsblue-background {
  background-color: #59CBE8 !important;

}

.vippsblack-background {
  background-color: #161225 !important;
}

.vippsblueberry-background {
  background-color: #49367E !important;
}

.text {
  max-width: 60em;
}

.zeromargin {
  margin: 0;
}


#vippslogoheader {
  height: 7vh;
}

#vippsemojifooter {
  margin: 0;
  height: 100%;
}


@font-face {
font-family: "Vipps";
src: url("./fonts/VippsDisplay-Regular.otf");
src:
url("./fonts/VippsText-Black.otf") format("opentype"),
url("./fonts/VippsText-Bold.otf") format("opentype"),
url("./fonts/VippsText-Light.otf") format("opentype"),
url("./fonts/VippsText-Regular.otf") format("opentype"),
}
